{% extends 'base.html' %}
{% block title %}{{ action }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h3>{{ action }}</h3>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
              {{ field.errors }}
            </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
