<h5>Detalle de empleado</h5>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>Nombre:</strong> {{ empleado.first_name }} {{ empleado.last_name }}</li>
  <li class="list-group-item"><strong>Usuario:</strong> {{ empleado.username }}</li>
  <li class="list-group-item"><strong>Email:</strong> {{ empleado.email }}</li>
  <li class="list-group-item"><strong>Rol:</strong> {{ empleado.role }}</li>
</ul>
<a href="{% url 'empleados:admin_dashboard' %}?tab=empleados" class="btn btn-secondary">Volver</a>
